<h2> Log In </h2>

<%= flash[:notice] %>

<%= form_for(@user) do |f| %>
  <%= f.label :name %> <br>
  <%= f.text_field :name %> <br>

  <%= f.label :password %> <br>
  <%= f.password_field :password %> <br>
  <br>
  <%= f.submit %>
<% end %>

<br>
<p> <%= link_to "Sign Up", new_user_path %> </p>
